

<body onLoad="loadlog()">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NuBot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Operation</a></li>
            <li><a href="/configui">Configuration</a></li>
            <li class="active"><a href="/tools">Tools</a></li>
            <li><a href="/feeds">Feeds</a></li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">


<div class="row">
<div class="col-md-6">
<h3>Enter custom order</h3>

<div class="col-sm-9">
<div class="input-group">

<span class="input-group-addon" style="width:60px"><span class="asset_name">Quantity</span></span>
<input style="width: 120px" id="buy_asset_quantity" type="text" name="buy_asset_quantity" value="0" class="form-control">
</div>
</div>

<div class="col-sm-9">
<div class="input-group">
<span class="input-group-addon" style="width:60px"><span class="asset_name">Price</span></span>
<input style="width: 120px"  id="buy_asset_quantity" type="text" name="buy_asset_quantity" value="0" class="form-control" data-type="buy">
</div>
</div>


<div class="col-sm-9">
<button type="button" class="btn btn-primary" id="buy_asset_button">
Buy
</button>
</div>


<button type="button" class="btn btn-primary" id="cancelall">
Cancel all orders
</button>

</div>
<div class="col-md-6">
</div>
</div>

<div class="row">
<div class="col-md-6">

<div class="panel panel-default">
  <div class="panel-heading">Balances for exchange: {{exchange}}</div>

<table class="table">
<tr><td>BTC</td><td>{{btc_balance}}</td></tr>
<tr><td>NBT</td><td>{{nbt_balance}}</td></tr>
</table>

</div>

</div>

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Open orders for exchange: {{exchange}}</div>

<table class="table">
<tr><td>Order</td><td>currency..</td></tr>
</table>
</div>

</div>
</div>




