<!DOCTYPE html>
<html>
<head>
    <title>NuBot GUI - Stopped</title>
    <link id="favicon" rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- External JS libraries -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Custom JS -->
    <script src="js/main.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>


