<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				>> %date{HH:mm:ss.SSS} %logger{36} %line %-5level - %msg%n
			</Pattern>

		</layout>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
					return logger.contains("jetty");
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>

	</appender>

	<appender name="mainFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/main.log</file>

		<encoder>
			<pattern>%date{HH:mm:ss.SSS} - %msg%n
			</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/main.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>


	</appender>

	<appender name="allFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/debug.log</file>

		<encoder>
			<pattern>%date %logger{36} %line %level - %msg%n
			</pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/all.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>

		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>
					return logger.contains("jetty");
				</expression>
			</evaluator>
			<onMatch>DENY</onMatch>
			<onMismatch>NEUTRAL</onMismatch>
		</filter>


	</appender>

	<!-- Daily rollover appender that also appends timestamp and rolls over on startup -->
	<appender name="startupDailyRolloverAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--<file>${LOG_FILE}</file>-->
		<file>roll.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>roll.%d{yyyyMMdd}_%d{HHmmss,aux}</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="com.nubits.nubot.utils.StartupTimeBasedTriggeringPolicy" />
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="allFILE" />
		<appender-ref ref="mainFILE" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="startupDailyRolloverAppender" />

	</root>



	<!-- to surpress logback startup messages -->
	<!--
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	-->

</configuration>
