

<body onLoad="loadVals()">


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NuBot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Exchange Config</a></li>
            <li><a href="/log">Log</a></li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">


<div class="row">
  <div class="col-xs-12 col-md-8">

    <h3>Config</h3>





<table class="table table-bordered" width="500">
<tr>
    <td class="col-md-2">API key</td>

<td class="col-md-8">
    <div class="input-group">

      <input id="apikey" size="100" type="text" class="form-control" placeholder="API Key">
<!--
      <span class="input-group-btn">
         <button class="btn btn-default" type="button" onclick="showModal()">Change</button>

      </span>
-->
    </td><td>
<button type="button" class="btn btn-primary" onclick="save()">
  Change
</button>

    </div><!-- /input-group -->
</td></tr>


</table>

    </div>


  <div class="col-xs-6 col-md-4"></div>
    <!-- spacer -->
    </div>


    </div> <!-- /container -->

</div>

      </div>

    </div> <!-- /container -->

