<!DOCTYPE html>
<html>
    <head>
        <style>

            body {
                font-family: Helvetica;
                min-height: 2000px;
                padding-top: 70px;
            }

          .row {
            margin-bottom: 20px;
          }
          .row .row {
            margin-top: -20px;
            margin-bottom: 0;
          }
          [class*="col-"] {
            padding-top: 2px;
            padding-bottom: 2px;
            border: 0px solid #ddd;
            border: 0px solid rgba(86,61,124,.2);
          }

          hr {
            margin-top: 20px;
            margin-bottom: 20px;
          }

        </style>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


      <script>

              var host = "localhost";
              var port = 4567;
              var url = "http://" + host + ":" + port + "/config";

            function loadVals() {

                $.ajax({
                  type: "GET",
                  dataType: "json",
                  url: url,
                })
                .done(function( data ) {

                    $("#exchangename").attr("placeholder", data["exchangename"]);
                    $("#apikey").attr("placeholder", data["apikey"]);
                    $("#apisecret").attr("placeholder", data["apisecret"]);
                    $('#dualside').attr('checked',data["dualside"]);
                    $('#multiplecustodians').attr('checked',data["multiplecustodians"]);
                    $('#submitliquidity').attr('checked',data["submitliquidity"]);
                    $('#executeorders').attr('checked',data["executeorders"]);
                    $('#verbose').attr('checked',data["verbose"]);
                    $('#hipchat').attr('checked',data["hipchat"]);

                    $("#nubitaddress").attr("placeholder", data["nubitaddress"]);
                    $("#nudport").attr("placeholder", data["nudport"]);
                    $("#rpcpass").attr("placeholder", data["rpcpass"]);
                    $("#rpcuser").attr("placeholder", data["rpcuser"]);
                    $("#pair").attr("placeholder", data["pair"]);



                 });

            }

            //save variable
            //not generic (copy & paste needed)

            function saveexchangename() {
                var el = $('#exchangename');
                var inputval = el.attr('value');
                var jsondata = JSON.stringify({ "exchangename": inputval });
                makePost(jsondata);
            }

            function savekey() {
                var el = $('#apikey');
                var inputval = el.attr('value');
                var jsondata = JSON.stringify({ "apikey": inputval });
                makePost(jsondata);
            }

            function savesecret() {
                var el = $('#apisecret');
                var inputval = el.attr('value');
                var jsondata = JSON.stringify({ "apisecret": inputval });
                makePost(jsondata);
            }

            function save_nubitaddress() {
                //put data to server
                var el = $('#nubitaddress');
                var inputval = el.attr('value');
                var jsondata = JSON.stringify({ "nubitaddress": inputval });

                makePost(jsondata);
            }


            function savedual() {
                var ischecked = $('#dualside').prop('checked');
                var jsondata = JSON.stringify({ "dualside": ischecked });
                makePost(jsondata);
            }

            function save_multiplecustodians(){
                var ischecked = $('#multiplecustodians').prop('checked');
                var jsondata = JSON.stringify({ "multiplecustodians": ischecked });
                makePost(jsondata);
            }

            function save_submitliquidity(){
                var ischecked = $('#submitliquidity').prop('checked');
                var jsondata = JSON.stringify({ "submitliquidity": ischecked });
                makePost(jsondata);
            }

            function save_executeorders(){
                var ischecked = $('#executeorders').prop('checked');
                var jsondata = JSON.stringify({ "executeorders": ischecked });
                makePost(jsondata);
            }

            function save_verbose(){
                var ischecked = $('#verbose').prop('checked');
                var jsondata = JSON.stringify({ "verbose": ischecked });
                makePost(jsondata);
            }

            function save_hipchat(){
                var ischecked = $('#hipchat').prop('checked');
                var jsondata = JSON.stringify({ "hipchat": ischecked });
                makePost(jsondata);
            }


            function makePost(jsondata){
                //make HTTP post to server
                $.ajax(url, {
                    data : jsondata,
                    contentType : 'application/json',
                    type : 'POST',
                    success: function(data){
                      console.log("ok " + data);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error posting to server " + textStatus);
                    }
               });
            }


        </script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    </head>



<body onLoad="loadVals()">

