<!DOCTYPE html>
<html>
    <head>
        <style>

            body {
                font-family: Helvetica;
            }


            body {
              min-height: 2000px;
              padding-top: 70px;
            }

          .row {
            margin-bottom: 20px;
          }
          .row .row {
            margin-top: -20px;
            margin-bottom: 0;
          }
          [class*="col-"] {
            padding-top: 2px;
            padding-bottom: 2px;
            border: 0px solid #ddd;
            border: 0px solid rgba(86,61,124,.2);
          }

          hr {
            margin-top: 20px;
            margin-bottom: 20px;
          }

        </style>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


      <script>

              var host = "localhost";
              var port = 4567;
              var url = "http://" + host + ":" + port + "/keys";

            function loadVals() {

                $.ajax({
                  type: "GET",
                  dataType: "json",
                  url: url,
                })
                .done(function( data ) {
                    //var pp = $("#key").attr("placeholder");

                    $("#apikey").attr("placeholder", data["apikey"]);

                 });

            }


                    /*
                    $("#apisecret").attr("placeholder", data["apisecret"]);
                    $("#dualside").attr("placeholder", data["dualside"]);
                    $("#nubitaddress").attr("placeholder", data["nubitaddress"]);
                    $("#nudport").attr("placeholder", data["nudport"]);
                    $("#rpcpass").attr("placeholder", data["rpcpass"]);
                    $("#rpcuser").attr("placeholder", data["rpcuser"]);
                    $("#pair").attr("placeholder", data["pair"]);
                    $("#mail-recipient").attr("placeholder", data["mail-recipient"]);
                    */

            function savekey(el) {
                //get user data

                var el = $('#apikey');

                var inputkey = el.attr('value');

                //make HTTP post to server

                $.ajax(url, {

                    data : JSON.stringify({ "apikey": inputkey }),
                    contentType : 'application/json',
                    type : 'POST',

                    success: function(data){
                      console.log("ok " + data);
                    },

                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error posting to server " + textStatus);
                    }
               });


            }



        </script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



    </head>



<body onLoad="loadVals()">

