

<body onLoad="loadbot()">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NuBot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Operation</a></li>
            <li><a href="/configui">Configuration</a></li>
            <li><a href="/feeds">Feeds</a></li>
            <li><a href="/about">About</a></li>

          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">


<div class="row">
<div class="col-md-6">
<h3>NuBot Operation</h3>

  <button id="startbot">Start</button>
  <button id="stopbot">Stop</button>
</div>
<div class="col-md-6">
</div>
</div>

<div class="row">
<div class="col-md-6">

<div class="panel panel-default">
  <div class="panel-heading">Balances for exchange: {{exchange}}</div>

<table class="table">
<tr><td>BTC</td><td><span id="btc_balance">{{btc_balance}}</span></td></tr>
<tr><td>NBT</td><td><span id="nbt_balance">{{nbt_balance}}</span></td></tr>
</table>

</div>

</div>

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">Open orders for exchange: {{exchange}}</div>

<table class="table">
<tr><td>Order</td><td>currency..</td></tr>
</table>
</div>

</div>
</div>


<hr>

<div class="row">

  <div class="col-md-6">

  <h3>Log Info</h3>
  <button>Clear</button>
  <div class="input-group">
      <textarea id="logarea" class="form-control custom-control"></textarea>
  </div>
  </div>


  <div class="col-md-6">
    <h3>Log Detail</h3>
  <button>Clear</button>
  <div class="input-group">
      <textarea id="logarea2" class="form-control custom-control"></textarea>
    </div>

  </div>

</div>


