<!DOCTYPE html>
<html>
    <head>
        <style>

            body {
                font-family: Helvetica;
                padding-top: 70px;
            }

          .row {
            margin-bottom: 20px;
          }
          .row .row {
            margin-top: -20px;
            margin-bottom: 0;
          }
          [class*="col-"] {
            padding-top: 2px;
            padding-bottom: 2px;
            border: 0px solid #ddd;
            border: 0px solid rgba(86,61,124,.2);
          }

          hr {
            margin-top: 20px;
            margin-bottom: 20px;
          }

          #logarea {
            width:800px;
            height:400px;
            resize:none
          }

        </style>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

      <script>

              var host = "localhost";
              var port = 4567;
              var baseurl = "http://" + host + ":" + port;
              var updateTime = 2000;

        $(document).ready(function() {

          $('#startbot').click(function(){

                console.log("calling start on server");

                var jsondata = JSON.stringify({
                    "operation": "start"});

              $.ajax(baseurl + "/startstop", {
                    data : jsondata,
                    contentType : 'application/json',
                    type : 'POST',
                    success: function(data){
                        console.log("ok " + data);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error posting to server " + textStatus + " " + errorThrown);
                    }
               });


            });



          $('#stopbot').click(function(){

                console.log("calling stop on server");

                var jsondata = JSON.stringify({
                    "operation": "stop"});

              $.ajax(baseurl + "/startstop", {
                    data : jsondata,
                    contentType : 'application/json',
                    type : 'POST',
                    success: function(data){
                        console.log("ok " + data);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error posting to server " + textStatus + " " + errorThrown);
                    }
               });


            });
    });

            function loadlog() {

                //console.log("load log");

                var url = baseurl + "/logdump";

                console.log("url  " + url);
                $.ajax({
                  type: "GET",
                  dataType: "json",
                  url: url,
                })
                .fail(function() {
                  console.log("error loading log");
                  //alert( "error loading log" );
                })
                .done(function( data ) {
                  $('#logarea').val(data["log"]);
                });

                var psconsole = $('#logarea');
                if(psconsole.length)
                  psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());

                //bottom = $("#logarea")[0].scrollHeight - $("#logarea").height()

                setTimeout(loadlog,updateTime);
            }


            function loadbot() {
                loadlog();

            }


            function loadconfig() {

                var url = "http://" + host + ":" + port + "/config";

                $.ajax({
                  type: "GET",
                  dataType: "json",
                  url: url,
                })
                .done(function( data ) {

                    //string values
               console.log("data: " + data);

                    $("#exchangename").attr("value", data["exchangename"]);
                    $("#apikey").attr("value", data["apikey"]);
                    $("#apisecret").attr("value", data["apisecret"]);
                    $("#txfee").attr("value", data["txfee"]);
                    $("#pair").attr("value", data["pair"]);
                    $('#dualside').attr('checked',data["dualside"]);
                    $('#multiplecustodians').attr('checked',data["multiplecustodians"]);
                    $('#executeorders').attr('checked',data["executeorders"]);
                    $('#verbose').attr('checked',data["verbose"]);
                    $('#hipchat').attr('checked',data["hipchat"]);
                    $('#mailnotifications').attr('checked',data["mailnotifications"]);
                    $('#mailrecipient').attr("value", data["mailrecipient"]);
                    $("#emergencytimeout").attr("value", data["emergencytimeout"]);
                    $("#keepproceeds").attr("value", data["keepproceeds"]););
                    $("#maxsellvolume").attr("value", data["maxsellvolume"]);
                    $("#maxbuyvolume").attr("value", data["maxbuyvolume"]);
                    $("#priceincrement").attr("value", data["priceincrement"]););
                    $('#submitliquidity').attr('checked',data["submitliquidity"]);
                    $("#nubitaddress").attr("value", data["nubitaddress"]);
                    $("#nudip").attr("value", data["nudip"]);
                    $("#nudport").attr("value", data["nudport"]);
                    $("#rpcpass").attr("value", data["rpcpass"]);
                    $("#rpcuser").attr("value", data["rpcuser"]);
                    $("#wallchangethreshold").attr("value", data["wallchangethreshold"]);
                    $("#spread").attr("value", data["spread"]);
                    $("#mainfeed").attr("value", data["mainfeed"]);
                    $("#backupfeeds").attr("value", data["backupfeeds"]);

                 });

            }

            function postall(){
                var posturl = "http://" + host + ":" + port + "/config";

                //get all vars and post them

                var exchangename = $("#exchangename").attr("value");
                var apikey = $("#apikey").attr("value");
                var apisecret = $("#apisecret").attr("value");
                var txfee =$("#txfee").attr("value");
                var pair = $("#pair").attr("value");
                var dualside = $("#dualside").prop("checked");
                var multiplecustodians = $("#multiplecustodians").prop("checked");
                var executeorders = $("#executeorders").prop("checked");
                var verbose = $("#verbose").prop("checked");
                var hipchat = $("#hipchat").prop("checked");
                var mailnotifications = $("#mailnotifications").attr("value");
                var mailrecipient =$("#mailrecipient").attr("value");
                var emergencytimeout =$("#emergencytimeout").attr("value");
                var keepproceeds = $("#keepproceeds").attr("value");
                var maxsellordervolume = $("#maxsellordervolume").attr("value");
                var maxbuyordervolume = $("#maxbuyordervolume").attr("value");
                var priceincrement = $("priceincrement").attr("value");
                var submitliquidity = $("#submitliquidity").prop("checked");
                var nubitaddress = $("#nubitaddress").attr("value");
                var nudip = $("#nudIP").attr("value");
                var nudport = $("#nudport").attr("value");
                var rpcpass = $("#rpcpass").attr("value");
                var rpcuser = $("#rpcuser").attr("value");
                var wallchangethreshold = $("#wallchangethreshold").attr("value");
                var spread = $("#spread").attr("value");
                var mainfeed = $("#mainfeed").attr("value");
                var backupfeeds = $("#backupfeeds").attr("value");

                //could check on the client side if valid post

                var jsondata = JSON.stringify({
                    "exchangename": exchangename,
                    "apikey": apikey,
                    "apisecret": apisecret,
                    "txfee" : txfee,
                    "pair": pair,
                    "dualside": dualside,
                    "multiplecustodians": multiplecustodians,
                    "executeorders": executeorders,
                    "verbose": verbose,
                    "hipchat": hipchat,
                    "mailrecipient": mailrecipient,
                    "emergencytimeout" : emergencytimeout,
                    "keepproceeds" : keepproceeds,
                    "maxsellordervolume": maxsellordervolume,
                    "maxbuyordervolume": maxbuyordervolume,
                    "priceincrement": priceincrement,
                    "submitliquidity": submitliquidity,
                    "nubitaddress": nubitaddress,
                    "nudip": nudip,
                    "nudport": nudport,
                    "rpcpass": rpcpass,
                    "rpcuser": rpcuser,
                    "wallchangethreshold": wallchangethreshold,
                    "spread" : spread,
                    "mainfeed": mainfeed,
                    "backupfeeds" : backupfeeds

                });


                makePost(posturl, jsondata);
            }

            function makePost(url, jsondata){
                //make HTTP post to server
                $.ajax(url, {
                    data : jsondata,
                    contentType : 'application/json',
                    type : 'POST',
                    success: function(data){
                      console.log("ok " + data);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("error posting to server " + textStatus + " " + errorThrown);
                    }
               });
            }


        </script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    </head>



