<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" level="all"
		class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%d{HH:mm:ss} %logger{36} - %msg%n</pattern>
		</encoder>

    <!--filter class="com.nubits.nubot.webui.JettyLogFilter" />
		-->

	</appender>


	<appender name="infoFILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/NuBot.log</file>

		<encoder>
			<pattern>%date %logger{36} %level - %msg%n
			</pattern>
			<!-- [%thread] %logger{10} [%file:%line] -->
		</encoder>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
    </filter>

	</appender>

	<appender name="debugFILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/NuBot_debug.log</file>

		<encoder>
			<pattern>%date  %logger{36} %level - %msg%n
			</pattern>
			<!-- [%thread] %logger{10} [%file:%line] -->
		</encoder>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
    </filter>

	</appender>

	<appender name="warnFILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/NuBot_main.log</file>

		<encoder>
			<pattern>%date %logger{36} %level - %msg%n
			</pattern>
			<!-- [%thread] %logger{10} [%file:%line] -->
		</encoder>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
    </filter>

	</appender>



	<root>
		<appender-ref ref="warnFILE" />

    <appender-ref ref="infoFILE" />

    <appender-ref ref="debugFILE" />

		<appender-ref ref="STDOUT" />
	</root>

</configuration>
